body{
    padding-top: 70px;
    
}   
    
.tituloMargem {
    margin: 0px;   
    margin-bottom: 30px;
    
}

.fitness{
    margin: 0px;
    border-radius: 10px;    
}

.loginTela{
    width: 600px;
    height: 300px;  
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
}


